.accordion {
    
    background-color: #eaeaea;
    color: #444;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    margin: -20px 0px 0px 0px;
}

.menuactive, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.menuactive:after {
    content: "\2212";
    
}
    
.panel {
    padding: 0 50px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

@media screen and (max-width: 767px) {
 .panel{
   padding: 0px 5px;
}

.accordion, .menu-item{
    font-size: 10px;
}

}




