/*
Author, Developer & Designer William Allemang

    This is the main styling sheet for my final project. 
    - Skeleton & DRY style
    - Index style
    - Menu style
    - Gallery style
    - Contact style
    
    Thanks for looking!
    -wra
------------------------------------

  to include all padding & borders within width measurements*/
* {
    box-sizing: border-box;
}

body   {
    background-color: dimgray;
    z-index: -1
    }  

footer  {
    text-align: center;
     background-color: dimgrey;
     color: black;
     min-height: calc(100vh - 40px);
     position: fixed;
}

/* DRY */
.bgblack   {
    background-color: black;
    }
            
.paragraph  {
    text-indent: 20px;
    }

/* Span class */
.contactLink {   
    font-size: 16px;
    color: blue;
    font-family: Helvetica, sans-serif;
}

/* 
    Start index style
------------------------------------
*/
.wrapper{
    background-color: dimgray;
    }

    
.logo {
   width: 200px;
   height: 200px;
   margin: 0px 5px;
   float: left;
    }


.imgSec2   {
    width: 60%;
    box-shadow: 25px 25px 40px #222,
                -25px -25px 40px #222;
    border: 3px solid black;
    }

.imgSec3 {
    width: 93%;
    box-shadow: 15px 25px 50px #222,
                -15px -25px 50px #222;
    border: 3px solid black;
    }

.imgSec4 {
    width: 75%;
    margin: 0 auto;
    box-shadow: 25px 25px 40px #222,
                -25px -25px 40px #222;
    border: 3px solid black;

    }

.section1  {
      background-color: white;
      border-top: 10px solid black;
      border-left: 10px solid black;
      border-right: 5px solid black;
      border-bottom: 5px solid black;
      width: 50%;
      font-size: 1.2rem;
      display: inline-block;
      padding: 1.5rem 0rem;
    }

.section2-image {
      width: 50.5%;
      padding: 2.7rem 0rem;
      display: inline-block;
      background: 
          radial-gradient(circle, #fff, #222, transparent),
          url(../img/img_1.jpg) 
          no-repeat center/cover;
      border-top: 10px solid black;
      border-left: 5px solid black;
      border-right: 10px solid black;
      border-bottom: 5px solid black;
    }

.section3-image {
      width: 50%;
      padding: 3.92rem 0em;
      display: inline-block;
      background: radial-gradient(circle, #fff, #222, transparent), 
          url(../img/salmon.jpg)
          no-repeat center/cover;
      border-top: 5px solid black;
      border-left: 10px solid black;
      border-right: 5px solid black;
      border-bottom: 10px solid black;
    }

.section4-image {
      width: 50%;
      padding: 2.95rem 0;
      display: inline-block;
      background: radial-gradient(circle,  #fff, #222, transparent),
          url(../img/img_3.jpg)
          no-repeat center/cover;
      border-top: 5px solid black;
      border-left: 5px solid black;
      border-right: 10px solid black;
      border-bottom: 10px solid black;                
    }

/* ----------------------------
        Media queries for index
*/

 @media screen and (max-width: 767px) {
     
      .logo {
           width: 200px;
           height: 200px;
          display: block;
        margin-left: 25%;
           
     } 
     
     .section1 h4   {
         display: inline-block;
     } 
     .section1 p {
         display: inline-block;
     }
     
     .imgSec2   { 
        width: 50%;
        box-shadow: 20px 20px 40px #222,
        -20px -20px 40px #222;
    }

    .section1  {
                  border-top: 10px solid black;
                  border-left: 10px solid black;
                  border-right: 10px solid black;
                  border-bottom: 5px solid black;
                  font-size: 12px;
                  font-family: sans-serif;
                  position: ;
                  }

    .section2-image {
                      
                      padding: 2rem;
                       background:  url(../img/img_1.jpg) 
                      no-repeat center/cover;
                      border-top: 5px solid black;
                      border-left: 10px solid black;
                      border-right: 10px solid black;
                      border-bottom: 5px solid black;
    }

/* 
     Section 3 will not be displayed on mobile layouts for load purposes.
     
     For it to be displayed, respective rules are commented out
     
     */
     
    .section3-image {
                     display: none;
                     /*  
                      padding: 2em;
                      background: 
                      radial-gradient(circle, #fff, #222, transparent),
                      url(../img/salmon.jpg)) 
                      no-repeat center/cover;
                      border-top: 5px solid black;
                      border-left: 10px solid black;
                      border-right: 10px solid black;
                      border-bottom: 5px solid black; */

    } /*Closing section3-image */
     
    .section4-image {
                    display: none;
        /*
                      height: 26.87rem;
                      background: 
                      radial-gradient(circle, #fff, #222, transparent),
                      url(../img/img_3.jpg) 
                      no-repeat center/cover;
                      border-top: 5px solid black;
                      border-left: 10px solid black;
                      border-right: 10px solid black;
                      border-bottom: 10px solid black; 
        */
    } /* closing section4-image */        
} /* closing media query for mobile */

/* Media query for tablet/laptop */

@media screen and (min-width: 614px) and (max-width: 767px) {
    .logo    {
        margin-left: 40%;
        margin-right: 10%;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    
     .section1  {
                  border-top: 10px solid black;
                  border-left: 10px solid black;
                  border-right: 10px solid black;
                  border-bottom: 5px solid black;
                  }

    .section2-image {
                      border-top: 5px solid black;
                      border-left: 10px solid black;
                      border-right: 10px solid black;
                      border-bottom: 5px solid black;
    }

    .section3-image {
                      border-top: 5px solid black;
                      border-left: 10px solid black;
                      border-right: 10px solid black;
                      border-bottom: 5px solid black;

    }
    
     .section4-image {
                      border-top: 5px solid black;
                      border-left: 10px solid black;
                      border-right: 10px solid black;
                      border-bottom: 10px solid black;

    }
}

/* Media tag for smooth design */
@media screen and (min-width: 992px) and (max-width:1199px) {
    .section1 {
        font-size: .8em;
    }
    
    .imgSec2 {
         width: 80%;            
    }
    
    .section2-image {
        padding: 1.37em;
    }
} /* Closing media 

and ending media quereies for index/layout 



    ***************
        Ending skeleton/index style

        Starting Menus style
    ***************
*/
#logo-events {
           width: 200px;
           height: 200px;
           left: 0;
           right: 0;
           margin: auto;
           top: 57%;
           z-index: 99;
           background: url(../img/logo.png);
           background-size: cover;
           position: absolute;
}

.levels {
    background: white;
    color: black;
    border-top: 10px solid black;
    border-left: 10px solid black;
    border-right: 10px solid black;
    border-bottom: 10px solid black;
    }

.section-3img {
    width: 80%;
               box-shadow: 25px 25px 60px #222,
                -25px -25px 60px #222;
               border-radius: 40px 15px 40px 15px;
                border: 3px solid black;

}
.section3-events {
                  width: 100%;
                  padding: 4rem;
                  display: inline-block;
                  background-image: radial-gradient(#fff, #222, transparent),
                                    url(../img/img_4.jpg);
                  background-size: cover;
                  border-top: 10px solid black;
                  border-left: 10px solid black;
                  border-right: 10px solid black;
                  border-bottom: 0px solid black;
                           
    }
 
    .koshermenu {
    border-left: 1px solid black;
    
}

    .menu-col   {
        border-right: 1px solid black;
    }

.levels-col {
        list-style-position: inside;     
}                


        
.levels-col ul {
            padding: 0px 0px 0px 0px;
}

/* ----------------------------
        Media queries for Menus
*/
 @media screen and (max-width: 767px) {

         .levels-col    {
             border-bottom: 1px solid black;
             padding-bottom: 15px;
         }

        .levels {
            border-top: 3px solid black;
        }
         /* LArge Section image wont be displayed on mobile screens*/
         .section-3img {
             width: 100%;
             box-shadow: none;
             border: none;
         } 
         
         .section3-events {
             padding: .1rem;
         }
         
         .koshermenu   {
             border-left: 0px;
             border-top: 3px solid black;
         }
         
         .menu-item {
             font-size: 10px;
         }
         
         
}

@media screen and (min-width: 768px) and (max-width: 838px) {
    .contact {
        font-size: .9em;
        margin-left: -23px;
    }
}
         /*optional mobile picture psedo here*/ 
 /* closing media query for mobile */
 /* Closing media 

and ending media quereies for index/layout 


          

    ************menus***
        Ending s style

        Starting Gallery style
    ***************
*/

.keyline-vert   {
    
    width: 100%;
    border: 3px solid black;

}

.gallery-farright   {
    width: 85%;
    border: 3px solid black;
}

.keyline-mid    {
    width: 100%;
    margin-bottom: 20px;
        border: 3px solid black;

    
}
    
.section3-gallery-image {
                  width: 50%;
                  padding: 2.85rem 0em;
                  display: inline-block;
                  background: radial-gradient(circle, #fff, #222, transparent), 
                      url('../img/img_2.jpg')
                      no-repeat center/cover;
                  border-top: 5px solid black;
                  border-left: 10px solid black;
                  border-right: 5px solid black;
                  border-bottom: 10px solid black;
                
}

 .gallery-col {
           padding: 10px 10px 10px 40px;
            /*padding: 5px 5px 10px 5px; */
     
 }
.section3-gallery-image img    {
    width: 76%;
}


/* ----------------------------
        Media queries for gallery
*/
 @media screen and (max-width: 767px) {
     
     .keyline-vert  {
         width: 60%;
         
     }
     
     .keyline-mid   {
         width: 100%;
     }
     
     .gallery-col   {
         padding: auto;
         border-bottom: 1px solid black;
     }
        
}
    
 /* Closing media 

and ending media quereies for gallery
      

    ***************
        Ending gallery style

        Starting contact style
    ***************
*/



.contact-col    {
                  width: 50%;
                  padding: 1rem;
                  display: inline;
                  background: white;
                  border-top: 10px solid black;
                  border-left: 10px solid black;
                  border-right: 10px solid black;
                  border-bottom: 10px solid black;
}

.contact-form   {
    list-style-type: none;
    text-align: middle;
}


 @media screen and (max-width: 767px) {
     
     .contact-col    {
               
                  border-top: 10px solid black;
                  border-left: 10px solid black;
                  border-right: 10px solid black;
                  border-bottom: 5px solid black;
}

.schedule-col    {
                
                  border-top: 5px solid black;
                  border-left: 10px solid black;
                  border-right: 10px solid black;
                  border-bottom: 10px solid black;
}
     
    .contact-col td, .schedule-col td, input  {
         margin-bottom: 1em;
     } 
        
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    
        .contact-col    {

                      border-top: 10px solid black;
                      border-left: 10px solid black;
                      border-right: 10px solid black;
                      border-bottom: 5px solid black;
    }

        .schedule-col    {

                      border-top: 5px solid black;
                      border-left: 10px solid black;
                      border-right: 10px solid black;
                      border-bottom: 10px solid black;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    
        .contact-col    {   
                      padding: 2.9em 0;
                      border-top: 10px solid black;
                      border-left: 10px solid black;
                      border-right: 5px solid black;
                      border-bottom: 10px solid black;
    }

        .schedule-col    {

                      border-top: 10px solid black;
                      border-left: 5px solid black;
                      border-right: 10px solid black;
                      border-bottom: 10px solid black;
    }
}

/*
*****************************************
end of style for content and layout for page
starting variuos styles for javascript(s)
****************************************
*/

